{% extends 'base.html.twig' %}

{% block body %}
{# avoiding the extra RTT and other crap that would come with a nice clean AJAX request #}
	<script> 
		window.songTitle = "{{song.songtitle}}";
		window.tracks = 
		[ {%for track in tracks%} 
			{	title:"{{track.tracktitle}}" ,
				url:"{{track.url}}" ,
				id:"{{track.id}}",
				index:"{{loop.index0}}", 
			},
		{%endfor%} ] ;
		
		window.URLs = 
		[ {%for track in tracks%} 
			"{{track.url}}",
		{%endfor%} ] ;
	</script> 
	
	
<div class="row"> 
	<div class="col s12">
		<h2> {{song.songtitle}} </h2>
		
		<div class="song-loading" data-bind="visible:!loaded" >
			Loading ... please wait!
		</div>
		
		<ul class="collection with-header">
			<li class="collection-header">
				
				<button class= "waves-effect waves-light btn" disabled data-bind="enable: loaded" id="play" type="button" onclick="song.play()">play</button>
								
				<button class="waves-effect waves-light btn" disabled data-bind="enable: loaded && playing" onclick="song.stop()">stop</button>
						
				Seek: 
					<input disabled data-bind="enable: loaded, value:playingTime" onchange="song.play(value)" type="range" id="seekBar"/>	
					<input type="text" data-bind="value:playingTime">
			</li>
				
			{%for track in tracks%}
				<li class="collection-item">
				{{track.tracktitle}} 	<a href="{{track.url}}">dl</a>
				<br>
				<input type="checkbox" data-bind="checked: muted()[{{loop.index0}}]" class="filled-in" id="track{{loop.index0}}mute" />
      	<label for="track{{loop.index0}}mute">Mute</label>
				
				<input type="text" data-bind="value: trackVolume()[{{loop.index0}}]"/>
				
				<input disabled data-bind="enable: loaded" class="volume-slider" type="range" min="0" max="75" value="75" oninput=" song.changeTrackVolume(this.value, {{loop.index0}}) "/>

				</li>
			{%endfor%}

		</ul>

	</div>
</div>
			
				
				
				<script src="/js/AudioSampleLoader.js"></script>
				<script src = "/js/song.js"></script>
				
{% endblock %}
