{% extends 'base.html.twig' %}

{% block body %}
{# avoiding the extra RTT and other crap that would come with a nice clean AJAX request #}
	<script> 
		window.songTitle = "{{song.songtitle}}";
		window.tracks = 
		[ {%for track in tracks%} 
			{	title:"{{track.tracktitle}}" ,
				url:"{{track.url}}" ,
				id:"{{track.id}}",
				index:"{{loop.index0}}", 
			},
		{%endfor%} ] ;
		
		window.URLs = 
		[ {%for track in tracks%} 
			"{{track.url}}",
		{%endfor%} ] ;
	</script> 
	
	
<div class="row"> 
	<div class="col s12">
		<h2 class="center"> {{song.songtitle}} </h2>
		
		<div class="song-loading" data-bind="visible:!loaded" >
			<div class="card blue ">
				<div class="card-content center">
					<span class="card-title">Loading {{numTracks}} tracks...</span>
					<p> 
					<img src="/img/ajax-loader.gif">
					</p>
				</div>
			</div>
		</div>
		<div style="display: none" id="song-error" class="song-error" >
			There was a loading error. Try refreshing or another song. 
		</div>
		
		<ul class="collection with-header">
			<li class="collection-header grey lighten-4">
				
				<button class= "waves-effect waves-light btn" disabled data-bind="enable: loaded, click: function(){song.playPause()}" id="play" type="button">
					<i class="material-icons" data-bind="text: playing() ? 'pause' : 'play_arrow' ">loop</i>
				</button>
								
				<button class="waves-effect waves-light btn" disabled data-bind="enable: loaded && playing" onclick="song.stop()">
					<i class="material-icons">stop</i>
				</button>
				
				<br>
				<div class= "seek-group">
					<!-- <div class="seek-info">
						Seek: <span data-bind="text:playingTime">0</span>s
					</div> -->
					<!-- <div class="seekbar-wrapper"> -->
						<input class="" disabled data-bind="enable: loaded, value:playingTime" onchange="song.play(value)" type="range" id="seekBar" value="0"/>	
					<!-- </div> -->
						<!-- <span class="seek-text-center"><em>seek: 0s</em></span> -->
						Seek: <span data-bind="text:playingTimeRounded">0</span>s
				</div>
				
			</li>
				
			{%for track in tracks%}
				<li class="collection-item">
				{{track.tracktitle}} 	<a href="{{track.url}}">dl</a>
				<br>
				<div class="valign-wrapper">
						<!-- <i class="material-icons" data-bind="text: muted[0]()? 'volume_mute':'volume_off', toggleClick: muted[0] "></i> -->
					<input type="checkbox" data-bind="checked: muted[{{loop.index0}}]" class="mute-checkbox filled-in" id="track{{loop.index0}}mute" />
      		<label for="track{{loop.index0}}mute">
						<i class="material-icons valign" data-bind="text: muted[{{loop.index0}}]()? 'volume_up':'volume_off'">volume_off</i>
					</label>
				
					<div class="volume-group">
						<!-- <i class="material-icons">volume_up</i> -->
						<span data-bind="text: trackVolume[{{loop.index0}}]">75</span>
						<input disabled data-bind="enable: loaded, value:  trackVolume[{{loop.index0}}]" class="volume-slider" type="range" min="0" max="100" value="75" />
					
					</div>
					
					<div class="pan-group valign-wrapper">
							L
							<input disabled data-bind="enable: loaded, value:  pan[{{loop.index0}}]" class="pan-slider" type="range" step=".01" min="-1" max="1" value="0" />
							R
							<span data-bind="visible:pan[{{loop.index0}}], click:function(){pan[{{loop.index0}}](0)}">
								<a href="#">reset</a>
							</span>
					</div>
				</div>
				</li>
			{%endfor%}

		</ul>

	</div>
</div>
				
				<script src="/js/AudioSampleLoader.js"></script>
				<script src = "/js/song.js?vers=1"></script>
				
{% endblock %}
